.shoping {
  display: flex;
  margin: 10px 8px;
  border-bottom: 1px solid #e7e7e7;

  > img {
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  > .info {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;

    > h3 {
      line-height: 1;
      font-size: 16px;
      margin-bottom: 14px;
    }
    > p {
      line-height: 1;
      font-size: 14px;
      margin-bottom: 16px;
    }
    > a {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #108ee9;
      border-radius: 4px;
      padding: 5px 15px;
      color: #fff;
    }
  }
}
