.people {
  background: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  > p {
    line-height: 30px;
  }
}

.ctrl {
  display: flex;
  padding: 10px;
  > a {
    flex: 1;
    background: #108ee9;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;

    &:first-child {
      margin-right: 15px;
    }
  }
}

.addShoping {
  margin: 15px 0;
  > p {
    padding:0 10px;
    font-size: 16px;
  }
}

.fninfo {
	padding-bottom: 50px;
	ul {
		padding: 5px 10px;
		border-bottom: 1px solid #d7d7d7;
	}
	.item {
		position: relative;
		margin-bottom: 2px;
		padding: 15px;
		border-bottom: 1px solid #d7d7d7;
		font-size: 12px;
		line-height: 1;
		&:last-child {
			border: none;
		}
	}
	.deviceindex {
		margin-bottom: 10px;
		color: #108ee9;
		font-size: 14px;
	}
	.devicename {
		margin-bottom: 5px;
	}
	.rightinfo {
		float: right;
		.vifi {
			font-style: normal;
			margin-left: 5px;
		}
	}
	.daymoney {
		display: block;
		margin-top: 5px;
		text-align: right;
		color: #333;
		font-size: 14px;
	}
	.taglack, .tagerr {
		margin-left: 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px 10px;
	}
	.taglack {
		background-color: #f76a24;
	}
	.tagerr {
		background-color: #e94f4f;
	}
}

.selectBox {
  padding: 5px 0;
  text-align: right;
  clear: both;
  > p {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
    border-radius: 4px;
    color: #fff;
    outline: none;

  }
}
